body {
	font-family: "Fira Code", monospace, sans-serif;
	background-color: #1d2021;
	color: #fbf1c7;
	line-height: 1.6;
	margin: 0;
	padding: 0 1rem;
	box-sizing: border-box;
}

.container {
	max-width: 100%;
	width: 100%;
	margin: 2rem auto;
	padding: 2rem;
	background-color: #282828;
	border-radius: 12px;
	box-shadow: 0 0 15px rgba(0,0,0,0.5);
	box-sizing: border-box;
}

h1 {
	text-align: center;
	margin-bottom: 3rem;
}

h1, h2, h3 {
	color: #fabd2f;
}

pre {
	background-color: #3c3836;
	padding: 1rem;
	border-radius: 8px;
	overflow-x: auto;
	font-size: 0.9rem;
}

code {
	font-family: "Fira Code", monospace;
	color: #8ec;
	font-size: 0.9rem;
}

section {
	margin-bottom: 2rem;
}

footer {
	text-align: right;
}

a {
	color: #83a598;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@media (max-width: 600px) {
	.container {
		padding: 1rem;
		margin: 1rem auto;
	}

	h1 {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	h2 {
		font-size: 1.2rem;
	}

	h3 {
		font-size: 1rem;
	}

	pre {
		font-size: 0.8rem;
		padding: 0.75rem;
	}

	code {
		font-size: 0.8rem;
	}

	section {
		margin-bottom: 1.5rem;
	}

	footer {
		text-align: center;
	}
}
