body {
	font-family: Arial, sans-serif;
	background-color: #1d2021;
	color: #fbf1c7;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	font-size: 1.1rem;
}

h1 {
	margin-top: 50px;
	text-align: center;
}

img.header-image {
	display: block;
	margin: 60px auto 10px;
	max-width: 80%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header-image:hover {
	transform: scale(1.1);
	transition: transform 0.4s ease-in-out;
}

main {
	max-width: 90%;
	margin: 20px auto;
	padding: 20px;
	background-color: #3c3836;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 1.2rem;
}

h1, h2 {
	color: #fabd2f;
	font-size: 1.6rem;
}

pre {
	background-color: #282828;
	padding: 10px;
	border-radius: 5px;
	overflow-x: auto;
	color: #8ec07c;
}

code {
	background-color: #504945;
	color: #d3869b;
	padding: 2px 5px;
	border-radius: 3px;
}

footer {
	text-align: center;
	padding: 10px;
	font-size: 1.3rem;
	margin-top: 40px;
}

a {
	color: #83a598;
	text-decoration: none;
}

a:hover {
	color: #fabd2f;
	text-decoration: underline;
}

ol, ul {
	padding-left: 20px;
}

.last {
	text-align: center;
}
