body {
	font-family: Arial, sans-serif;
	background-color: #1d1f21;
	color: #f5f5f5;
	line-height: 1.6;
	padding: 1rem;
	font-size: 1rem;
	box-sizing: border-box;
}

h1, h2 {
	color: #fabd2f;
	line-height: 1.2;
	font-size: 2rem;
	margin-bottom: 1rem;
	text-align: center;
}

.desc {
	text-align: center;
	margin-bottom: 1rem;
	color: #83a598;
}

h2 {
	font-size: 1.5rem;
	margin-top: 1.5rem;
}

p {
	margin: 0.5rem 0;
	color: #ebdbb2;
}

pre {
	background-color: #282828;
	color: #fbf1c7;
	padding: 0.5rem;
	border-radius: 0.3rem;
	overflow-x: auto;
	font-size: 0.9rem;
}

code {
	background-color: #3c3836;
	padding: 0.2rem 0.4rem;
	border-radius: 0.3rem;
	color: #fe8019;
	font-size: 0.9rem;
}

.note, .highlight {
	font-size: 1rem;
	margin: 1rem 0;
	padding: 0.75rem;
	border-left-width: 0.3rem;
}

.note {
	background-color: #ffeeba;
	border-left-color: #fabd2f;
	color: #3c3836;
}

.highlight {
	background-color: #d4edda;
	border-left-color: #8ec07c;
	color: #1d2021;
}

.code-section {
	margin: 1rem 0;
}

@media (max-width: 600px) {
	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 1.2rem;
	}

	main {
		padding: 0.75rem;
	}

	pre, code {
		font-size: 0.8rem;
	}

	.note, .highlight {
		font-size: 0.9rem;
		padding: 0.5rem;
	}
}
